/* Get-ready CSS boilerplate */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #948d8d;
  color: #fff;
}
.profiles{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.profile{
  gap: 20px;
  padding: 20px;
  background-color: rgb(66, 67, 63);
  border-radius: 20px;
  max-width: 20rem;
  text-align: center;
}